footer {
    height: 40vh;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    padding: 0 10% ;
    justify-content: center;
    h2 {
        font-size: 1.4rem;
        padding-bottom: 3rem;
    }
    h2, .copyright ,a {
        color: $tertiary-color;
        font-weight: bold; 
        margin: 0;
    }

    .wrapper{
        display: flex;
        flex-direction: row;
            
        ul{
            @include horizontal-list;
            font-size: 1.1rem;
        }



    }

}
